body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: #171a21;
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    background: linear-gradient(to right, #1CB5E0, #000046);
    line-height: 1.6;
    overflow: hidden;
  }
  h1, h2 {
    margin: 0;
  }
  header {
    font-family: "Rajdhani", sans-serif;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
    height: 80px;
    user-select: none;
    justify-content: space-between;
  }
  .logo {
    display: flex;
    width: 154px;
  }
  #logo_text {
    margin-top: auto;
    margin-bottom: auto;
    width: 150px;
    min-width: 150px;
  }
  .nav {
    display: flex;
    height: 80px;
    margin-right: 5px;
    margin-left: 15px;
  }
  .nav_ul {
    min-width: max-content;
    padding-left: 0px;
    margin-bottom: auto;
    margin-top: auto;
  }
  .nav_ul_li {
    padding: 12px 15px;
    margin-right: 15px;
    list-style-type: none;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 25%;
  }
  .nav_ul_res {
    min-width: min-content;
    display: flex;
    padding-left: 0px;
    margin: 0 20px;
    text-align: center;
    box-sizing: border-box;
    line-height: 20px;
  }
  .nav_ul_li_res {
    padding: 10px 0px;
    list-style-type: none;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 25%;
  }
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: #7ef0ff;
  }
  .container {
    display: flex;
    width: min-content;
  }
  .container_container {
    display: flex;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    margin: auto 0 auto 15px;
    background: #000;
    border: 2px solid white;
    border-radius: 25%;
    justify-content: center;
    align-content: center;
  }
  .container_res {
    display: flex;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    background: #000;
    border: 2px solid white;
    border-radius: 25%;
    margin: 0 auto 10px auto;
    justify-content: center;
    align-content: center;
  }
  .responsive-bar {
    display: none;
    background: transparent;
    top: 0;
    right: 0;
    width: 100px;
    height: 80px;
    font-size: 40px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 10px;
  }
  .responsive-bar-content {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: min-content;
    position: absolute;
      top: 78px;
      right: 0px;
      width: 100px;
      padding: 20px 0;
    box-sizing: border-box;
    margin: 0;
    background: #000;
    border-radius: 1%;
    z-index: 50;
  }
  .responsive-bar-content-toggleada {
    display: flex;
    position: absolute;
      top: 78px;
      right: 0px;
      width: 100px;
    box-sizing: border-box;
    margin: 0;
    background: #000;
    border-radius: 1%;
    z-index: 50;
  }
  .twitter {
    box-sizing: border-box;
    justify-self: center;
    align-self: center;
    width: 40px;
    height: 40px;
  }
  #twitter {
    width: 40px;
    height: 40px;
    padding: 0 0 20px 0;
  }
  .github {
    box-sizing: border-box;
    justify-self: center;
    align-self: center;
    width: 60px;
    height: 60px;
  }
  #github {
    width: 60px;
    margin: 10px 0;
  }
  @media screen and (max-width: 546px) {
    .responsive-bar {
      display: block;
    }
    .nav {
      display: none;
    }
    .container_container {
      display: none;
    }
  }