<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio Web</title>
    <style>
       @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
      @import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap");
      @import url("styles.css");
    </style>
  </head>
  <body>
    <header>
      <div class="logo" routerLink="/">
        <img src="../../assets/public/logo.png" alt="">
        <p id="logo_text">#Yo Programo</p>
      </div>
      
      <div class="container">
        <div class="container_container">
            <a class="twitter" href="https://twitter.com/Kaxzark" target="_BLANK"><img id="twitter" src="../../assets/public/twitter-logo-60.png" alt="Mi cuenta de Twitter"></a>
        </div>
        <div class="container_container">
          <a class="github" href="https://github.com/Kaxzark" target="_BLANK"><img id="github" src="../../assets/public/github-logo-white.png" alt="Mi cuenta de GitHub"></a>
        </div>
        <nav class="nav">
          <ul class="nav_ul">
            <li class="nav_ul_li"><a (click)="login()" *ngIf="!isLogged && !loginUrl">Home</a>
                                  <a (click)="goHome()" *ngIf="!isLogged && loginUrl">Home</a>
                                  <a (click)="onLogOut()" *ngIf="isLogged">Log out</a>
            </li>
          </ul>
        </nav>
        <div class="responsive-bar">
          <i class="fa-solid fa-bars"></i>
          <div class="responsive-bar-content">
            <div class="container_res">
              <a class="twitter" href="https://twitter.com/Kaxzark" target="_BLANK"><img id="twitter" src="../../assets/public/twitter-logo-60.png" alt="Mi cuenta de Twitter"></a>
          </div>
          <div class="container_res">
            <a class="github" href="https://github.com/Kaxzark" target="_BLANK"><img id="github" src="../../assets/public/github-logo-white.png" alt="Mi cuenta de GitHub"></a>
          </div>
          <nav>
            <ul class="nav_ul_res">
              <li class="nav_ul_li_res"><a (click)="login()" *ngIf="!isLogged && !loginUrl">Home</a>
                                    <a (click)="goHome()" *ngIf="!isLogged && loginUrl">Home</a>
                                    <a (click)="onLogOut()" *ngIf="isLogged">Log out</a>
              </li>
            </ul>
          </nav>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>