<app-root></app-root>
<div class="container">
    <form (ngSubmit)="onCreate()" novalidate #f="ngForm" class="content">
        <div class="inputs">
            <label for="nombreExp">Nombre de la empresa</label>
            <input type="text" class="form-control" id="nombreExp" name="nombreExp" [(ngModel)]="nombreExp" required>


            <label for="descripcionExp">Descripción de la tarea</label>
            <input type="text" class="form-control" id="descripcionExp" name="descripcionExp" [(ngModel)]="descripcionExp" required>
        </div>
        <button class="btn">Agregar experiencia</button>
    </form>
</div>