<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio Web</title>
    <style>
       @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
      @import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap");
      @import url("styles.css");
    </style>
  </head>
  <body>
    <app-root></app-root>
    <app-header></app-header>
    <div class="banner"></div>
    <div class="about_0">
      <div class="about_1">
        <div class="profile_pic"></div>
        <div class="name">
          <p>Diego D'Angelo</p>
          <p>Full Stack Developer Junior</p>
        </div>
      </div>
      <div class="about_2">
        <h2>Acerca de.</h2>
        <p>Mi objetivo es obtener un empleo que me permita progresar demostrando toda mi capacidad, honestidad y responsabilidad.</p>
      </div>
    </div>
    <app-educacion></app-educacion>
    <app-experiencia></app-experiencia>
    <div class="hard_skills">
      <h1>Hard Skills</h1>
    </div>
    <div class="skills_container">
    <div class="skill">
      <div class="circular_progress">
        <span class="progress_value">0%</span>
      </div>
      <span class="text">HTML & CSS</span>
    </div>
    <div class="skill">
      <div class="circular_progress_2">
        <span class="progress_value_2">0%</span>
      </div>
      <span class="text">JavaScript</span>
    </div>
    <div class="skill">
      <div class="circular_progress_3">
        <span class="progress_value_3">0%</span>
      </div>
      <span class="text">Node.js & Express</span>
    </div>
  </div>
  <div class="soft_skills">
    <h1>Soft Skills</h1>
  </div>
  <div class="skills_container">
  <div class="skill">
    <div class="circular_progress_4">
      <span class="progress_value_4">0%</span>
    </div>
    <span class="text">Comunicación</span>
  </div>
  </div>
  <div class="projects">
    <h1>Proyectos</h1>
  <div class="portfolio_container">
    <div class="portfolio_img">
      <h2>Portfolio</h2>
      <img src="../../assets/public/portfolio.png">
    </div>
  </div>
  <div class="portfolio_desc">
    <p>Este portfolio es el trabajo práctico final del bootcamp Argentina Programa.</p>
    <p>Fecha de creación: sábado, 5 de noviembre de 2022</p>
  </div>
  </div>
</body>
</html>