body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: #171a21;
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
  background: linear-gradient(to right, #1CB5E0, #000046);
  line-height: 1.6;
  overflow-y: hidden;
}
h1, h2 {
  margin: 0;
}
  
  .education_container {
    margin: 0 30px 0 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    color: #fff;
  }
  .education {
    box-sizing: border-box;
    width: 100%;
    height: max-content;
  }