<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio Web</title>
    <style>
       @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
      @import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap");
      @import url("styles.css");
    </style>
  </head>
  <body>
    <app-root></app-root>
    <app-header></app-header>
    <app-about></app-about>
    <app-educacion></app-educacion>
    <app-experiencia></app-experiencia>
    <app-hys></app-hys>
  <div class="projects">
    <h1>Proyectos</h1>
  <div class="portfolio_container">
    <div class="portfolio_img">
      <h2>Portfolio</h2>
      <img src="../../assets/public/portfolio.png">
    </div>
  </div>
  <div class="portfolio_desc">
    <p>Este portfolio es el trabajo práctico final del bootcamp Argentina Programa.</p>
    <p>Fecha de creación: sábado, 5 de noviembre de 2022</p>
  </div>
  </div>
</body>
</html>