<!-- <app-header></app-header> -->

<body>
  <section class="wrapper">
    <div class="form login">
      <header routerLink="/login">Login</header>
      
    </div>

    <div class="form signup">
      <header>Signup</header>
      <form [formGroup]="formSignup" action="#" #f="ngForm" (ngSubmit)="onSignup()" novalidate>
        <input formControlName="nombreUsuario" type="text" placeholder="Ingrese su nombre de usuario" [(ngModel)]="nombreUsuario"  required />
        
        <input formControlName="password" type="password" placeholder="Ingrese su contraseña" [(ngModel)]="password"  required />
        
        <!-- <div class="checkbox">
          <input type="checkbox" id="signupCheck"/>
          <label for="signupCheck">I accept all terms & conditions.</label>
        </div> -->
        <input type="submit" value="Signup" />
        <div class="signup-errs">
            <p>{{errMsj}}</p>
          <div *ngIf="NombreUsuario?.errors">
            <p *ngIf="NombreUsuario?.errors?.['minlength']">El nombre de usuario debe tener mínimo 3 caracteres</p>
          </div>
          <div *ngIf="Password?.errors">
            <p *ngIf="Password?.errors?.['minlength']">La contraseña debe tener mínimo 4 caracteres</p>   
          </div>
        </div>
        
      </form>
      
    </div>
  </section>
</body>